html, body {
    min-height: 100vh; /* Fill all visual height */
    display: flex; 
    flex-direction: column; 
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.5; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: "Times New Roman", Times, serif;
    color: #363636;
    background-color: white; 
}

header { 
    background: linear-gradient(to bottom, #B0E0E6, #FFFFFF); 
    /* Try to cover safe area on ios */
    padding-top: 30px;
    padding-top: calc(constant(safe-area-inset-top) + 30px);
    padding-top: calc(env(safe-area-inset-top) + 30px);
    padding-bottom: 10px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #121212; 
}

a {
    color: #ff5050; 
    text-decoration: none; 
}
a:hover { 
    color: #800000; 
}

hr {
    border-width: 0.5px;
}

strong {
    font-weight: 700;
}

ul {
    list-style-type: square;
}

/* Global margins for page content */
.page-title, .nav, .default {
    padding-left: 15%; 
    padding-right: 15%; 
}

/* Page title is my name */
.page-title {
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: left; 
    font-weight: 100; 
    font-family: "Times New Roman", Times, serif; 
}

/* Navigation bar */
.nav{
    list-style: none; 
    text-align: left; 
    font-size: 1.12em; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px; 
}

/* The main content */
.default {
    flex: 1; /* fills remaining space */
    padding-bottom: 50px; 
    background-color: white; 
}

/* Different screen sizes */
@media screen and (max-width: 640px) {
    body {
	word-wrap: break-word;
    }
    header, .page-title {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .page-title, .nav, .nav a {
        text-align: center; 
    }
    .page-title, .nav, .default {
        padding-left: 5%; 
        padding-right: 5%; 
    }
    .nav a{
        padding-left: 5px; 
        padding-right: 5px; 
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 18px;
    }    
    .page-title, .nav, .default {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 2560px) {
    body {
        font-size: 25px;
    }
    .page-title, .nav, .default {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* Be printer friendly */
@media print {
    @page {
        padding-top: 20mm;
        padding-bottom: 20mm;
    }
    html, body {
        min-height: 100%; /* Don't print more white space than needed */
        display: block;
    }
    header {
        page-break-inside: avoid;
        margin: 0;
        padding: 0;
    }
    .page-title {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* For the himawari image on the homepage */
.himawari-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Use this if you also want to center it vertically */
}

#himawari {
    max-width: 85%; 
    height: auto; 
    display: block; 
}
