html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: "Times New Roman", Times, serif;
    color: #363636; 
    margin-top: 50px;
    margin-bottom: 50px; 
}

a {
    color: #ff5050; 
    text-decoration: none;
}
a:hover { 
    color: #800000; 
}

hr {
  border-width: 1px;
}

.page-title {
    margin-left: 15%; 
    text-align: left;
    font-weight: 100;
}

.default {
    margin-left: 15%;
    margin-right: 15%;
}

.nav{
    list-style: none; 
    margin-left: 15%;
    padding: 0; 
    text-align: left; 
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

/* Different screen sizes */
@media print, screen and (max-width: 640px) {
    body {
	word-wrap: break-word;
    }
        
    .page-title {
        margin-left: 0; 
    }

    .default {
        margin-left: 0;
        margin-right: 0;
    }

    .nav{
        margin-left: 0;
    }
    .nav a{
        margin-left: 0px;
        margin-right: 5px; 
    }
}

/* This will make ALL b tags have a font-weight of 700 */
b {
  font-weight: 700;
}

h1, h2 {
    color: #121212; 
}

/* For the himawari image on the homepage */
.himawari-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Use this if you also want to center it vertically */
}

#himawari {
  max-width: 85%;
  height: auto;
  display: block; 
}

